<mat-toolbar color="primary">
  <div class="container toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/">Music</a>
    <nav *ngIf="!(user| async); else userMenu">
      <a routerLink="/register">Register</a>&nbsp;
      <a routerLink="/login">Login</a>
    </nav>
  </div>
</mat-toolbar>

<ng-template #userMenu>
  <nav>
    <span>Hello, <strong>{{ (user | async)?.['displayName'] }}</strong> !</span>&nbsp;
    <button mat-button class="user-menu-btn" (click)="logout()">Logout</button>
  </nav>
</ng-template>

<div class="container">
  <ng-content></ng-content>
</div>
