<mat-toolbar color="primary">
  <div class="container toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="/">Music</a>
    <nav *appUserType="'user'; else anonMenu">
      <button mat-icon-button [matMenuTriggerFor]="addMenu">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #addMenu="matMenu">
        <a routerLink="/artists/create/new" mat-menu-item>Artist</a>
        <a routerLink="/albums/create/new" mat-menu-item>Album</a>
        <a routerLink="/tracks/create/new" mat-menu-item>Track</a>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>{{ (user | async)?.['displayName'] }}</button>
        <button mat-menu-item (click)="logout()">Logout</button>
        <a mat-menu-item routerLink="/track_history">Track History</a>
      </mat-menu>
    </nav>
  </div>
</mat-toolbar>

<ng-template #anonMenu>
  <nav>
    <a routerLink="/register">Register</a>&nbsp;
    <a routerLink="/login">Login</a>
  </nav>
</ng-template>

<div class="container">
  <ng-content></ng-content>
</div>
