<mat-card>
  <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{ index + 1 }}</span>
    <span>{{ track.title }}</span>
    <span class="text-muted">({{ track.duration }})</span>
    <button mat-raised-button (click)="addtrackToHistory()">
      <mat-spinner diameter="35" *ngIf="(loading | async) && track._id === addingTrackId"></mat-spinner>
      <span *ngIf="!(loading | async) || track._id !== addingTrackId">Play</span>
    </button>
  </mat-card-content>
</mat-card>
