<mat-card>
  <a [routerLink]="['/tracks', album._id]">
    <mat-card-content fxLayout="column">
      <div class="unpublished" *ngIf="!album.is_published">
        <span class="unpublished-text">Unpublished</span>
      </div>
      <img [src]="album.image | image" [alt]="album.title" *ngIf="album.image"/>
      <mat-card-title>{{ album.title }}</mat-card-title>
      <p *ngIf="album.release"><strong>Release: </strong>{{ getDate() }}</p>
    </mat-card-content>
  </a>
  <button mat-raised-button color="warn" *appHasRoles="['admin']" (click)="removeAlbum()">Delete</button>
</mat-card>
