<mat-card>
  <a [routerLink]="['/tracks', album._id]">
    <mat-card-content fxLayout="column">
      <div class="unpublished" *ngIf="!album.is_published">
        <span class="unpublished-text">Unpublished</span>
      </div>
      <img [src]="album.image | image" [alt]="album.title" *ngIf="album.image"/>
      <mat-card-title>{{ album.title }}</mat-card-title>
      <p *ngIf="album.release"><strong>Release: </strong>{{ getDate() }}</p>
    </mat-card-content>
  </a>

  <div *appHasRoles="['admin']">
    <button mat-raised-button color="warn" (click)="removeAlbum()">
      <mat-spinner *ngIf="(removingLoading | async) && album._id === toBeDeletedAlbum" diameter="30"></mat-spinner>
      <span *ngIf="!(removingLoading | async) || album._id !== toBeDeletedAlbum">Delete</span>
    </button>&nbsp;

    <button mat-raised-button color="accent" (click)="publishAlbum()" *ngIf="!album.is_published">
      <mat-spinner diameter="30" *ngIf="(publishLoading | async) && album._id === toBePublishAlbumId"></mat-spinner>
      <span *ngIf="!(publishLoading | async) || album._id !== toBePublishAlbumId">Publish</span>
    </button>
  </div>
</mat-card>
