<div fxLayout="row" fxLayoutAlign="center">
  <mat-card class="register-form">
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form #f="ngForm" autocomplete="off" fxLayout="column" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            type="email" name="email" autocomplete="username"
            email required matInput ngModel #email="ngModel"
          />
          <mat-error *ngIf="email.touched && email.hasError('required')">Email is required!</mat-error>
          <mat-error *ngIf="email.touched && email.hasError('email')">Enter correct email!</mat-error>
          <mat-error
            *ngIf="email.touched && email.hasError('serverError')">{{ email.getError('serverError') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            type="password" name="password" autocomplete="new-password"
            required matInput ngModel #password="ngModel"
          />
          <mat-error *ngIf="password.touched && password.hasError('required')">Password is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Repeat your password</mat-label>
          <input
            type="password" name="repeatPassword" autocomplete="new-password"
            required matInput ngModel #repeatPassword="ngModel"
          />
          <mat-error *ngIf="repeatPassword.touched && repeatPassword.hasError('required')">Repeat password is
            required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Display name</mat-label>
          <input
            type="text" name="displayName"
            required matInput ngModel #displayName="ngModel"
          />
          <mat-error *ngIf="displayName.touched && displayName.hasError('required')">Display name is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Avatar</mat-label>
          <app-file-input name="avatar" ngModel></app-file-input>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">REGISTER</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
